.icon {
  height: 16.7px;
  width: 24.4px;
  position: relative;
  min-height: 17px;
}
.nexcentIcon {
  height: 14.4px;
  width: 77.6px;
  position: relative;
}
.logo {
  height: 16.7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: 5.56855583190918px;
}
.whyJustgo {
  flex: 1;
  position: relative;
  line-height: 17px;
  font-weight: 500;
}
.expandIcon {
  height: 11.1px;
  width: 11.1px;
  position: relative;
  display: none;
}
.menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5.56855583190918px;
}
.whyJustgo1 {
  width: 47px;
  position: relative;
  line-height: 17px;
  font-weight: 500;
  display: inline-block;
  min-width: 47px;
}
.expandIcon1 {
  height: 11.1px;
  width: 11.1px;
  position: relative;
  display: none;
}
.menu1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5.56855583190918px;
}
.whyJustgo2 {
  width: 62px;
  position: relative;
  line-height: 17px;
  font-weight: 500;
  display: inline-block;
  min-width: 62px;
}
.expandIcon2 {
  height: 11.1px;
  width: 11.1px;
  position: relative;
  display: none;
}
.menu2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5.56855583190918px;
}
.whyJustgo3 {
  position: relative;
  line-height: 17px;
  font-weight: 500;
  display: inline-block;
  min-width: 24px;
}
.expandIcon3 {
  height: 11.1px;
  width: 11.1px;
  position: relative;
  display: none;
}
.menu3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5.56855583190918px;
  text-align: left;
}
.whyJustgo4 {
  position: relative;
  line-height: 17px;
  font-weight: 500;
  display: inline-block;
  min-width: 37px;
}
.expandIcon4 {
  height: 11.1px;
  width: 11.1px;
  position: relative;
  display: none;
}
.headerMenu,
.menu4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5.56855583190918px;
  text-align: left;
}
.headerMenu {
  margin: 0;
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-0) 4.547473508864641e-13px var(--padding-0)
    var(--padding-0);
  gap: 16.70566749572754px;
  text-align: center;
  font-size: var(--font-size-xs-1);
  color: var(--neutral-d-grey);
  font-family: var(--font-inter);
}
.button {
  height: 36.5px;
  width: 133.3px;
}
.header,
.rightMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
}
.rightMenu {
  width: 650.5px;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    var(--padding-168xl);
  gap: 22.27422332763672px;
}
.header {
  min-height: 60px;
  /* margin-right: -1.2999999999999543px; */
  width: 100%;
  align-self: stretch;
  background-color: var(--neutral-white);
  box-shadow: 0 2.8px 5.57px rgba(171, 190, 209, 0.4);
  justify-content: space-between;
  padding: 12px var(--padding-xl) 13px;
  gap: 43.852378845214844px;
  top: 0;
  z-index: 99;
  position: sticky;
}
@media screen and (max-width: 700px) {
  .headerMenu {
    display: none;
  }
  .rightMenu {
    padding-left: var(--padding-74xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .rightMenu {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .header {
    gap: 43.9px 22px;
  }
}
